form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.7rem;
  outline: none;
  font-size: 1rem;
}
.form input:focus {
  outline: none;
}
.form label {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.invalid-email {
  color: red;
}
