.mobile-header {
  padding: 2rem 2rem;
  background-color: var(--subsidiaryColor);
  backdrop-filter: blur(500px);
}
.mobile-header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--primaryColor);
  margin: 0 auto;
}
.mobile-header__title span {
  color: var(--secondaryColor);
}
.mobile-header__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  color: #000000;
}
.mobile-header__description span {
  color: var(--secondaryColor);
}
.mobile-header img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1rem;
}
@media (max-width: 345px) {
  .mobile-header {
    padding: 2rem 1rem;
  }

  .mobile-header__description {
    width: 90%;
  }
  .mobile-header img {
    width: 90%;
    height: 90%;
  }
}
