.features {
  /* background-color: #eed79e; */
  padding: 4rem 6rem 4rem 6rem;
}
.features-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin: 0 auto;
  width: 65%;
  color: var(--primaryColor);
}
