.feature1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.feature2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-direction: row-reverse;
  margin-bottom: 6rem;
}
.feature-image__container {
  width: 20rem;
  /* width: 55%; */
  height: 20rem;
  background-color: var(--secondaryColor);
}
.feature1 .feature-image__container img {
  width: inherit;
  height: inherit;
  position: relative;
  top: 1.5rem;
  left: 1.5rem;
}
.feature2 .feature-image__container img {
  width: inherit;
  height: inherit;
  position: relative;
  top: 1.5rem;
  right: 1.5rem;
}
.feature-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 39px;
  /* Blue */
  color: #3a4b69;
  /* width: 45%; */
}
