.features {
  padding: 3rem 10rem 0rem 10rem;
  background-color: #eed79e;
  margin-top: -144px;
  padding-top: 11rem;
  margin-bottom: -176px;
  padding-bottom: 16rem;
}
.features-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 3rem;
  text-align: center;
  margin: 0 auto;
  width: 65%;
  color: var(--primaryColor);
}
@media (max-width: 1320px) {
  .features {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media (max-width: 1230px) {
  .features {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (max-width: 1100px) {
  .features {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 1000px) {
  .features {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 950px) {
  .features {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .features-title {
    font-size: 1.7rem;
    line-height: 2rem;
  }
  .feature-text {
    font-size: 1.1rem;
    line-height: 24px;
  }
}
@media (max-width: 850px) {
  .features {
    margin-top: -210px;
    margin-bottom: -200px;
    padding-top: 13rem;
  }
  .features-title {
    width: 75%;
  }
}
@media (max-width: 700px) {
}
@media (max-width: 650px) {
  .features-title {
    width: 85%;
  }
}
@media (max-width: 570px) {
  .features-title {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .feature-text {
    font-size: 1rem;
    line-height: 24px;
  }
}
@media (max-width: 500px) {
  .features {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .features-title {
    width: 100%;
  }
}
@media (max-width: 430px) {
  .features-title {
    padding-top: 2rem;
  }
}
