.feature1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.feature2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 6rem;
  gap: 5rem;
}
.feature-image__container {
  width: 18rem;
  /* width: 55%; */
  height: 18rem;
  background-color: var(--secondaryColor);
}
.feature1 .feature-image__container img {
  width: inherit;
  height: inherit;
  position: relative;
  top: 1.5rem;
  left: 1.5rem;
}
.feature2 .feature-image__container img {
  width: inherit;
  height: inherit;
  position: relative;
  top: 1.5rem;
  right: 1.5rem;
}
.feature-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 39px;
  /* Blue */
  color: #3a4b69;
  /* width: 45%; */
  padding: 0 10rem;
}
@media (max-width: 1400px) {
  .feature-text {
    padding: 0 7rem;
  }
}
@media (max-width: 1320px) {
  .feature-text {
    padding: 0 7rem;
  }
}
@media (max-width: 1230px) {
  .feature-text {
    padding: 0 6rem;
  }
}
@media (max-width: 1100px) {
  .feature-image__container {
    width: 18rem;
    height: 18rem;
  }
  .feature-text {
    padding: 0 5rem;
  }
}

@media (max-width: 1000px) {
  .feature-text {
    padding: 0 4rem;
  }
}
@media (max-width: 950px) {
  .features-title {
    font-size: 1.7rem;
    line-height: 2rem;
  }
  .feature-text {
    font-size: 1.1rem;
    line-height: 24px;
  }
  .feature-image__container {
    width: 15rem;
    height: 15rem;
  }
}
@media (max-width: 850px) {
  .features-title {
    width: 70%;
  }
  .feature-image__container {
    width: 13rem;
    height: 13rem;
  }
  .feature-text {
    padding: 0 2rem;
  }
}
@media (max-width: 750px) {
  .feature-text {
    padding: 0 1rem;
  }
}
@media (max-width: 700px) {
  .feature1 {
    gap: 3rem;
  }
  .feature2 {
    gap: 3rem;
  }
  .feature-text {
    padding: 0 1rem;
  }
}
@media (max-width: 650px) {
  .feature-image__container {
    width: 11rem;
    height: 11rem;
  }
  .feature1 .feature-image__container img {
    top: 1rem;
    left: 1rem;
  }
  .feature2 .feature-image__container img {
    top: 1rem;
    right: 1rem;
  }
}
@media (max-width: 570px) {
  .features-title {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .feature-text {
    font-size: 1rem;
    line-height: 24px;
  }
}
@media (max-width: 500px) {
  .feature1 {
    /* flex-direction: column; */
    margin: 3rem 0;
    /* text-align: center;
    margin-top: 2rem; */
    gap: 2rem;
  }
  .feature2 {
    /* flex-direction: column; */
    margin-bottom: 3rem;
    /* text-align: center; */
    gap: 2rem;
  }
  .feature-image__container {
    width: 8rem;
    height: 8rem;
  }
  .feature1 .feature-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    text-align: left;
  }
  .feature2 .feature-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    text-align: right;
  }
}

@media (max-width: 350px) {
}
